.vue-dialog-button {
  border-radius: 0;
}
.v__dialog {
  z-index: 1500;
}
.modal-header {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.modal-footer {
  display: flex;
  text-align: center;
  font-size: 12px;
  .primary {
    padding: 8px 0;
    color: #f44336;
    cursor: pointer;
    flex: 1;
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
    border-left: none;
    &:hover,
    &:focus {
      background: #f5f5f5;
    }
    &:active {
      background: #ddd;
    }
    &.disabled {
      pointer-events: none;
      background: #e0e0e0;
      color: #888;
    }
  }
  .secondary {
    padding: 8px 0;
    color: black;
    cursor: pointer;
    flex: 1;
    border: 1px solid #eee;
    border-left: none;
    border-bottom: none;
    &:hover,
    &:focus {
      background: #f5f5f5;
    }
    &:active {
      background: #ddd;
    }
  }
}

.modal-body {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  gap: 10px;
  input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 5px;
    outline: none;
    &:focus {
      border-bottom: 1px solid rgba(0, 123, 255);
    }
  }
}
.modal-body > input.modal-input-address {
  font-size: 11px;
}
.vue-dialog-buttons {
  & > button:nth-child(2) {
    color: #f44336;
  }
}
