.v-select {
  display: block;
  width: 100%;
  margin: 0.25rem 0;

  border-radius: 3px;
  box-shadow: inset 0 0 3px #eeeeee;
  background: #ffffff;
  color: #424242;
  font-size: 0.75rem;
  outline: 0;
  -webkit-appearance: none;
  .vs__dropdown-toggle {
    padding: 7px 4px 8px 4px;
  }
  .vs__search::placeholder {
    color: #9e9e9e;
  }
  .vs__selected {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 165px;
    display: inline-block;
  }
  .vs__dropdown-menu {
    li {
      overflow: hidden;
      padding-left: 12px;
    }
  }
}
